<h1><%= @pic.title %></h1>
<p><%= @pic.description %></p>
<p>Pic by: <%= @pic.user.email %></p>
<br>
<%= link_to "Back", root_path %> |
<%= link_to "edit", edit_pic_path %> |
<%= link_to "delete", pic_path, method: :delete, data: {confirm: "are you sure?"} %>